.header {
    padding: 8px 5px 8px 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: rgb(43, 93, 102);
    color: rgb(232, 237, 238);
    font-size: 0.8em;
}

.navbar {
    background-color: lightslategray;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.navbar-loginout {
    font-variant: small-caps;
    text-align: end;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
      color: #ff0000;
      text-decoration: none;
  }

  a:hover {
      text-decoration: underline;
  }



  img.center {
    display: block;
    margin: 0 auto;
}

.welcome {
    font-size: 2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-variant: small-caps;
}

.background-lodge {
    background-image: url(lodges.jpg) ;
}